<div class="card" >
    <span class="text-900 text-xl font-bold mb-5 block">Editar perfil</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Perfil</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Edite as informações do seu perfil.</p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="mb-4 col-12 md:col-6 field p-float-label">
                    <input id="name" type="text" pInputText>
                    <label for="name" class="font-medium text-900 pl-3">Nome completo</label>
                </div>
                <div class="mb-4 col-12 md:col-6 field p-float-label">
                    <input id="email" type="email" pInputText>
                    <label for="email" class="font-medium text-900 pl-3">Email</label>
                </div>
                <div class="mb-4 col-12 md:col-6 field p-float-label">
                    <input id="phone" type="tel" pInputText>
                    <label for="phone" class="font-medium text-900 pl-3">Telefone</label>
                </div>
                <div class="mb-4 col-12 md:col-6 field p-float-label">
                    <input id="birthdate" type="text" pInputText>
                    <label for="birthdate" class="font-medium text-900 pl-3">Data de Nascimento</label>
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Editar" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
