<p-dialog
    header="Proposta"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50%', margin: '10px'}"
    class="sm:p-0 md:p-0 lg:p-2 p-0"
    [draggable]="false"
    [resizable]="false">
    <div>
        <div>
            <div class="flex align-items-center mb-4 justify-content-between">
                <p class="m-0" style="color: #222222"
                   title="Data de criação">{{ formatarData(demand.creationDate) }}</p>
            </div>
            <h5 class="p-2"
                title="Tipo de contrato">{{ getContractType(demand.propertyDemand.contractType) }}</h5>
            <ul class="list-none p-0 m-0">
                        <span class="flex p-2 align-items-center mb-2" title="Tipo de propriedade">
                            <img ngSrc="./assets/app/images/icons/house.png"
                                 alt="house"
                                 class="align-self-center mr-2" height="24" width="24">
                            <span>Tipo de imóvel - {{ getPropertyType(demand.propertyDemand.propertyType) }}</span>
                        </span>
                <span class="flex p-2 align-items-center mb-2" title="Localidade">
                            <img ngSrc="./assets/app/images/icons/location_on.png"
                                 alt="house"
                                 class="align-self-center mr-2" height="24" width="24">
                            <span>Localidade - {{ getLocation(demand.propertyDemand.address) }}</span>
                        </span>
                <span class="flex p-2 align-items-center mb-2" title="Valor desejado">
                            <img ngSrc="./assets/app/images/icons/monetization_on.png"
                                 alt="house"
                                 class="align-self-center mr-2" height="24" width="24">
                            <span>Valor até - {{ getValue(demand.propertyDemand) }}</span>
                        </span>
                <span class="flex p-2 align-items-center mb-2" title="Quantidade de quartos">
                            <img ngSrc="./assets/app/images/icons/hotel.png"
                                 alt="house"
                                 class="align-self-center mr-2" height="24" width="24">
                            <span>Quartos - {{ getBedroomsNumber(demand.propertyDemand.bedroomsNumber) }}</span>
                        </span>
                <span class="flex p-2 align-items-center mb-2" title="Mobiliado">
                            <img ngSrc="./assets/app/images/icons/kitchen.png"
                                 alt="house"
                                 class="align-self-center mr-2" height="24" width="24">
                            <span>Mobiliado - {{ getBolean(demand.propertyDemand.furnished) }}</span>
                        </span>
                <span class="flex p-2 align-items-center mb-2" title="Permite animais">
                            <img ngSrc="./assets/app/images/icons/pets.png"
                                 alt="house"
                                 class="align-self-center mr-2" height="24" width="24">
                            <span>Pet - {{ getBolean(demand.propertyDemand.petFriendly) }}</span>
                        </span>
                <span class="flex p-2 align-items-center mb-2" title="Comentários">
                            <img ngSrc="./assets/app/images/icons/comment.png"
                                 alt="house"
                                 class="align-self-center mr-2" height="24" width="24">
                            <span>Comentarios - {{ demand.annotation == '' ? 'Sem comentários' : demand.annotation }}</span>
                        </span>
            </ul>
        </div>

        <form
            [formGroup]="allDemandsOffers"
            #formDir="ngForm"
            class="flex flex-column align-items-center"
            (ngSubmit)="saveOffers()">
            <div class="col-12 lg:col-12 md:col-12 sm:col-12">
                <h3>Detalhes da proposta</h3>
                <div class="grid formgrid p-fluid">
                    <div class="mb-3 col-12">
                        <div class="field w-full">
                            <textarea
                                [style]="{ width: '100%' }"
                                rows="5"
                                cols="30"
                                formControlName="text"
                                placeholder="Digite algo..."
                                pInputTextarea>
                            </textarea>
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 sm:col-12 md:col-12">
                        <p-button
                            type="submit"
                            [label]="this.offer ? 'Editar proposta' : 'Fazer uma proposta'"
                            [disabled]="allDemandsOffers.invalid || this.submited"
                            [loading]="loading"
                            class="w-auto mt-4">
                        </p-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
