<div class="">
    <div class="flex-column mb-3">
        <div class="flex justify-content-between w-full flex-column">
            <span class="text-900 text-xl font-bold mb-2 block">Todas demandas</span>
            <span class="text-600 text-sm font-bold mb-5 block">Quantidade de demandas: {{totalElements}}</span>
        </div>
        <p-accordion>
            <p-accordionTab header="Filtros" [selected]="false" class="line-height-3 m-0">
                <form [formGroup]="filterForm" class="mt-3 flex justify-content-between grid formgrid p-fluid">
                    <div class="mb-5 col-12 md:col-6 field p-float-label">
                        <input id="id" type="text" pInputText formControlName="id">
                        <label for="id" class="font-medium text-900 pl-3">Identificador da demanda</label>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                        <span class="field p-float-label">
                            <p-dropdown
                                [style]="{ width: '100%' }"
                                formControlName="contractType"
                                inputId="float-label"
                                [options]="contractType"
                                placeholder="Selecione o tipo de Contrato"
                                name="contractType"
                                id="contractType"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Tipo de Contrato</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="propertyType"
                                inputId="float-label"
                                [options]="propertyType"
                                placeholder="Selecione o tipo de Imóvel"
                                optionDisabled="inactive"
                                name="propertyType"
                                id="propertyType"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Tipo de Imóvel</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="bedroomsNumber"
                                inputId="float-label"
                                [options]="bedroomsNumber"
                                placeholder="Selecione a quantidade de quartos"
                                name="bedroomsNumber"
                                id="bedroomsNumber"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Quantidade de Quartos</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="furnished"
                                inputId="float-label"
                                [options]="furnished"
                                placeholder="Selecione se o imóvel e mobiliado"
                                name="furnished"
                                id="furnished"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Mobiliado</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="state"
                                inputId="float-label"
                                [options]="states"
                                [showClear]="true"
                                (onChange)="filterCities($event)"
                                placeholder="Selecione o estado onde está o imóvel"
                                name="state"
                                id="state">
                            </p-dropdown>
                            <label for="float-label">Estado</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="petFriendly"
                                inputId="float-label"
                                [options]="petFriendly"
                                placeholder="Selecione se o imóvel permite pets"
                                name="petFriendly"
                                id="petFriendly"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Permite Pet</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="city"
                                inputId="float-label"
                                [filter]="true"
                                [showClear]="true"
                                [options]="cities"
                                placeholder="Selecione a cidade do imóvel"
                                name="city"
                                id="city"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Cidade</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12"
                        *ngIf="selectedContractType.value === 'Locação'">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="suggestedValueForRent"
                                inputId="float-label"
                                [options]="suggestedValueForRent"
                                placeholder="Selecione o valor desejado"
                                name="suggestedValueForRent"
                                id="suggestedValueForRent"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Valor</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12"
                         *ngIf="selectedContractType.value === 'Venda'">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="suggestedValueForSale"
                                inputId="float-label"
                                [options]="suggestedValueForSale"
                                placeholder="Selecione o valor desejado"
                                name="suggestedValueForSale"
                                id="suggestedValueForSale"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Valor</label>
                        </span>
                    </div>
                    <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12"
                         *ngIf="selectedContractType.value === 'Temporada'">
                        <span class="field p-float-label">
                            <p-dropdown
                                formControlName="suggestedValueForSeasonal"
                                inputId="float-label"
                                [options]="suggestedValueForSeasonal"
                                placeholder="Selecione o valor desejado"
                                name="suggestedValueForSeasonal"
                                id="suggestedValueForSeasonal"
                                [showClear]="true"
                                (onChange)="filter()">
                            </p-dropdown>
                            <label for="float-label">Valor</label>
                        </span>
                    </div>
                </form>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="grid">
        <div class="col-12 lg: mt-2">
            <div class="grid formgrid p-fluid">
                <div class="col-12 xl:col-3 lg:col-6 mb-4" *ngFor="let demand of demands">
                    <div class="card h-full">
                        <div class="flex align-items-center mb-4 justify-content-between">
                            <p class="m-0" style="color: #9E9E9E"
                               title="Data de criação">{{ offersService.getformatData(demand.creationDate) }}</p>
                        </div>
                        <h5 class="p-2"
                            title="Tipo de contrato">{{ offersService.getContractType(demand.propertyDemand.contractType) }}</h5>
                        <ul class="list-none p-0 m-0">
                            <span class="flex p-2 align-items-center mb-2" title="Identificador">
                                <img ngSrc="./assets/app/images/icons/id.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Id - {{ demand.id }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Tipo de propriedade">
                                <img ngSrc="./assets/app/images/icons/house.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Tipo de imóvel - {{ offersService.getPropertyType(demand.propertyDemand.propertyType) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Localidade">
                                <img ngSrc="./assets/app/images/icons/location_on.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Localidade - {{ offersService.getLocation(demand.propertyDemand.address) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Valor desejado">
                                <img ngSrc="./assets/app/images/icons/monetization_on.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Valor até - {{ offersService.getValue(demand.propertyDemand) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Quantidade de quartos">
                                <img ngSrc="./assets/app/images/icons/hotel.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Quartos - {{ offersService.getBedroomsNumber(demand.propertyDemand.bedroomsNumber) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Mobiliado">
                                <img ngSrc="./assets/app/images/icons/kitchen.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Mobiliado - {{ offersService.getBoolean(demand.propertyDemand.furnished) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Permite animais">
                                <img ngSrc="./assets/app/images/icons/pets.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Pet - {{ offersService.getBoolean(demand.propertyDemand.petFriendly) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Comentários">
                                <img ngSrc="./assets/app/images/icons/comment.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Comentarios - {{ demand.annotation == '' ? 'Sem comentários' : demand.annotation }}</span>
                            </span>
                        </ul>
                        <button (click)="allDemandsModal(modal)"
                                type="button"
                                pButton pRipple
                                class="{{findOffer(demand)?.deleted === true ? 'w-full mt-3 p-button-danger' : 'w-full mt-3'}}"
                                [label]="getButtonLabel(findOffer(demand)!)!"
                                icon="pi pi-arrow-right" iconPos="right">
                            <img
                                [ngSrc]="demand.offers.length == 0 ? './assets/app/images/icons/icons8-plus-24.png' : './assets/app/images/icons/Group.svg'"
                                alt="house"
                                style="color:white"
                                class="align-self-center" height="19" width="19">
                        </button>
                    </div>
                    <app-create-update-offer-modal #modal [demand]="demand"
                                                   [offer]="findOffer(demand)"></app-create-update-offer-modal>
                </div>
            </div>
        </div>
    </div>
    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)"
                     [first]="first"
                     [rows]="size"
                     [totalRecords]="totalElements">
        </p-paginator>
    </div>
</div>
