<div class="p-d-flex p-flex-column p-jc-center">
    <h4 class="p-text-center">Adicione imagens</h4>
    <div class="p-d-flex p-flex-column p-jc-center p-mb-2">
        <div class="flex justify-content-between">
            <input #fileInput
                   style="display: none"
                   type="file"
                   accept="image/*"
                   (change)="onSelect($event)">
            <p-button class="mt-4"
                      [label]="'Selecionar Foto'"
                      (click)="fileInput.click()">
            </p-button>
            <p-button class="mt-4"
                      [label]="'Salvar fotos'"
                      (click)="onUpload()">
            </p-button>
        </div>
        <div *ngIf="this.uploadedFiles" class="mt-4">
            <div class="flex m-2 align-items-center justify-content-between"
                 *ngFor="let file of this.uploadedFiles">
                <img class="mr-4" height="40px" width="40px" src="{{file.location}}" alt="">
                <span class="overflow-hidden text-overflow-ellipsis">{{ file.key }}</span>
                <p-button (click)="removeFile(file)"
                          [label]="'Excluir'"
                          class="w-auto mt-4">
                </p-button>
            </div>
        </div>
    </div>
</div>
