<div class="card">
    <span class="text-900 text-xl font-bold mb-5 block">Encontre o imóvel dos seus sonhos</span>
    <form [formGroup]="propertyForm" #formDir="ngForm" class="grid" (ngSubmit)="save()">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Imóvel</div>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                    <span class="field p-float-label">
                        <p-dropdown
                            [style]="{ width: '100%' }"
                            formControlName="contractType"
                            inputId="float-label"
                            [options]="contractType"
                            placeholder="Selecione o tipo de Contrato"
                            name="contractType"
                            id="contractType">
                        </p-dropdown>
                        <label for="float-label">Tipo de Contrato</label>
                    </span>
                </div>
                <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="propertyType"
                            inputId="float-label"
                            [options]="propertyType"
                            placeholder="Selecione o tipo de Imóvel"
                            optionDisabled="inactive"
                            name="propertyType"
                            id="propertyType">
                        </p-dropdown>
                        <label for="float-label">Tipo de Imóvel</label>
                    </span>
                </div>
                <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="bedroomsNumber"
                            inputId="float-label"
                            [options]="bedroomsNumber"
                            placeholder="Selecione a quantidade de quartos"
                            name="bedroomsNumber"
                            id="bedroomsNumber">
                        </p-dropdown>
                        <label for="float-label">Quantidade de Quartos</label>
                    </span>
                </div>
                <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="furnished"
                            inputId="float-label"
                            [options]="furnished"
                            placeholder="Selecione se o imóvel e mobiliado"
                            name="furnished"
                            id="furnished">
                        </p-dropdown>
                        <label for="float-label">Mobiliado</label>
                    </span>
                </div>
                <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="state"
                            inputId="float-label"
                            [options]="states"
                            (onChange)="filterCities($event)"
                            placeholder="Selecione o estado onde está o imóvel"
                            name="state"
                            id="state">
                        </p-dropdown>
                        <label for="float-label">Estado</label>
                    </span>
                </div>
                <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="city"
                            inputId="float-label"
                            [filter]="true"
                            [showClear]="true"
                            [options]="cities"
                            placeholder="Selecione a cidade do imóvel"
                            name="city"
                            id="city">
                        </p-dropdown>
                        <label for="float-label">Cidade</label>
                    </span>
                </div>
                <div class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="petFriendly"
                            inputId="float-label"
                            [options]="petFriendly"
                            placeholder="Selecione se o imóvel permite pets"
                            name="petFriendly"
                            id="petFriendly">
                        </p-dropdown>
                        <label for="float-label">Permite Pet</label>
                    </span>
                </div>
                
                <div
                    class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12"
                    *ngIf="selectedContractType.value === 'Locação'">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="suggestedValueForRent"
                            inputId="float-label"
                            [options]="suggestedValueForRent"
                            placeholder="Selecione o valor desejado"
                            name="suggestedValueForRent"
                            id="suggestedValueForRent">
                        </p-dropdown>
                        <label for="float-label">Valor até</label>
                    </span>
                </div>
                <div
                    class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12"
                    *ngIf="selectedContractType.value === 'Venda'">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="suggestedValueForSale"
                            inputId="float-label"
                            [options]="suggestedValueForSale"
                            placeholder="Selecione o valor desejado"
                            name="suggestedValueForSale"
                            id="suggestedValueForSale">
                        </p-dropdown>
                        <label for="float-label">Valor até</label>
                    </span>
                </div>
                <div
                    class="mb-3 col-12 lg:col-6 md:col-6 sm:col-12"
                    *ngIf="selectedContractType.value === 'Temporada'">
                    <span class="field p-float-label">
                        <p-dropdown
                            formControlName="suggestedValueForSeasonal"
                            inputId="float-label"
                            [options]="suggestedValueForSeasonal"
                            placeholder="Selecione o valor desejado"
                            name="suggestedValueForSeasonal"
                            id="suggestedValueForSeasonal">
                        </p-dropdown>
                        <label for="float-label">Valor até</label>
                    </span>
                </div>
                <div class="mb-3 col-12">
                    <div class="field w-full">
                        <label>Observação</label>
                        <textarea
                            [style]="{ width: '100%' }"
                            rows="5"
                            cols="30"
                            formControlName="annotation"
                            placeholder="Use esse espaço para especificar melhor o imóvel que deseja..."
                            pInputTextarea>
                        </textarea>
                    </div>
                </div>
                <div class="ml-3">
                    <p-button
                        type="submit"
                        label="Registrar Imóvel"
                        [loading]="loading"
                        class="w-auto mt-4"
                        [disabled]="propertyForm.invalid && !this.submited">
                    </p-button>
                </div>
            </div>
        </div>
    </form>
</div>
