<p-dialog [(visible)]="visible"
          [modal]="true"
          [draggable]="false"
          [style]="{width: '40vw'}"
          [breakpoints]="{'900px': '60vw', '800px': '80vw', '500px': '100vw'}"
          [maximizable]="true"
          [resizable]="false">
    <div class="mb-2" *ngFor="let offer of offers">
        <p-accordion [multiple]="false">
            <p-accordionTab header="{{ offer.username }} enviou uma proposta" [selected]="false"
                            class="line-height-3 m-0">
                <p-galleria [value]="offer.files"
                            [autoPlay]="true"
                            [showItemNavigators]="true"
                            [showThumbnails]="false"
                            [showIndicators]="true"
                            [responsiveOptions]="galleriaResponsiveOptions"
                            [containerStyle]="{'max-width': '800px', 'margin':'auto'}"
                            [numVisible]="6"
                            [circular]="true">
                    <ng-template pTemplate="item" let-item>
                        <img ngSrc="{{item.location}}" style="width: 100%; display: block;" alt="{{item.key}}"
                             height="300" width="100"/>
                    </ng-template>
                </p-galleria>
                <div
                    class="w-12 h-auto p-4 mt-6 mb-6 border-round-lg surface-50 p-text-wrap overflow-hidden text-overflow-ellipsis">
                    <span>{{ offer.text }}</span>
                </div>
                <div class="flex justify-content-center gap-3 w-12">
                    <div class="col-8 sm:w-8 md:w-8 lg:w-8 flex justify-content-center mb-4">
                        <a class="w-12"
                           [href]="'https://api.whatsapp.com/send?phone=' + offer.contact
                           + '&text=Olá! Gostaria de conversar mais sobre a oferta ' + offer?.id + ' que foi feita pelo usuário ' + offer.username + '!'"
                           target="_blank"
                           (click)="acceptOffer(offer.id)">
                            <p-button class="w-8 sm:w-12 md:w-8 lg:w-8"
                                      label="Falar com {{getUsername(offer.username)}}"
                                      icon="pi pi-whatsapp" iconPos="right">
                            </p-button>
                        </a>
                    </div>
                    <div class="w-5">
                        <p-button (click)="showdeletelog()" class="w-5 sm:w-5 md:w-5 lg:w-5" label="Recusar"
                                  [raised]="true"
                                  severity="danger"></p-button>
                        <p-dialog header="Você deseja realmente recusar essa proposta?"
                                  [(visible)]="deletevisible"
                                  [modal]="true" [style]="{width: '100vw'}"
                                  [draggable]="false" [resizable]="false">
                            <p-button type="submit" (click)="deleteOffer(offer.id)" label="Recusar proposta"
                                      [raised]="true"
                                      severity="danger"
                                      [loading]="loading" class="w-6 mt-4">
                            </p-button>
                        </p-dialog>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="size" [totalRecords]="totalElements">
        </p-paginator>
    </div>
</p-dialog>
