<form [formGroup]="verificationForm" class="surface-ground h-screen w-screen flex align-items-center justify-content-center"
    [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">Código de Verificação</h1>
        <p class="text-color-secondary mb-4">Entre com o código que enviamos no seu e-mail!</p>

        <div class="flex align-items-center mb-4 gap-3">
            <p-inputNumber inputStyleClass="w-full text-center" [maxlength]="1" (onInput)="focusOnNext(input2)" formControlName="number1"></p-inputNumber>
            <p-inputNumber #input2 inputStyleClass="w-full text-center" [maxlength]="1" (onInput)="focusOnNext(input3)" formControlName="number2"></p-inputNumber>
            <p-inputNumber #input3 inputStyleClass="w-full text-center" [maxlength]="1" (onInput)="focusOnNext(input4)" formControlName="number3"></p-inputNumber>
            <p-inputNumber #input4 inputStyleClass="w-full text-center" [maxlength]="1" (onInput)="focusOnNext(input5)" formControlName="number4"></p-inputNumber>
            <p-inputNumber #input5 inputStyleClass="w-full text-center" [maxlength]="1" (onInput)="focusOnNext(input6)" formControlName="number5"></p-inputNumber>
            <p-inputNumber #input6 inputStyleClass="w-full text-center" [maxlength]="1" formControlName="number6"></p-inputNumber>
        </div>

        <button [routerLink]="['/']" pButton pRipple label="Verificar" [loading]="loading" (click)="submit()" (keyup.enter)="submit()" class="mb-4"></button>
        <span class="text-color-secondary text-center">Se você não recebeu o código?
            <div class="mt-4">
                <span class="font-bold text-primary-500 cursor-pointer" (click)="resendCode()">Enviar código novamente.</span>
            </div>
        </span>
    </div>
</form>

<app-config [minimal]="true"></app-config>
