<div class="">
    <div class="flex justify-content-between">
        <span class="text-900 text-xl font-bold mb-5 block">Minhas demandas</span>
        <button type="button"
                pButton
                pRipple
                style="height: 15%;"
                label="Nova Demanda"
                icon="pi pi-plus"
                iconPos="left"
                (click)="navigateToCreateDemand()">
        </button>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="col-12 xl:col-4 lg:col-6 mb-4" *ngFor="let demand of demands">
                    <div class="card h-full">
                        <div class="flex align-items-center mb-4 justify-content-between">
                            <p class="m-0" style="color: #9E9E9E" title="Data de criação">{{ formatarData(demand.creationDate) }}</p>
                            <div class="flex flex-row">
                                <img (click)="showDialog()" ngSrc="./assets/app/images/icons/delete.png"
                                     alt="delete"
                                     title="Deletar"
                                     class="align-self-center mr-4 cursor-pointer" height="24" width="24">
                                     <p-dialog class="lg: w-11 sm: w-11 md: w-11" header="Deseja realmente excluir esta demanda?"
                                     [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
                                        <div>
                                            <p-button
                                                type="submit"
                                                label="Excluir demanda"
                                                [loading]="loading"
                                                class="w-auto mt-4"
                                                (click)="deleteDemand(demand.propertyDemand.id, demand.id)">
                                            </p-button>
                                        </div>
                                    </p-dialog>
                                <img ngSrc="./assets/app/images/icons/edit.png"
                                     alt="edit"
                                     title="Editar"
                                     class="align-self-center cursor-pointer" height="24" width="24">
                            </div>
                        </div>
                        <h5 class="p-2"
                            title="Tipo de contrato">{{ getContractType(demand.propertyDemand.contractType) }}</h5>
                        <ul class="list-none p-0 m-0">
                            <span class="flex p-2 align-items-center mb-2" title="Tipo de propriedade">
                                <img ngSrc="./assets/app/images/icons/house.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>{{ getPropertyType(demand.propertyDemand.propertyType) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Localidade">
                                <img ngSrc="./assets/app/images/icons/location_on.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>{{ getLocation(demand.propertyDemand.address) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Valor desejado">
                                <img ngSrc="./assets/app/images/icons/monetization_on.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>{{ getValue(demand.propertyDemand) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Quantidade de quartos">
                                <img ngSrc="./assets/app/images/icons/hotel.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>{{ getBedroomsNumber(demand.propertyDemand.bedroomsNumber) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Mobiliado">
                                <img ngSrc="./assets/app/images/icons/kitchen.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>{{ getBolean(demand.propertyDemand.furnished) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Permite animais">
                                <img ngSrc="./assets/app/images/icons/pets.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>{{ getBolean(demand.propertyDemand.petFriendly) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Comentários">
                                <img ngSrc="./assets/app/images/icons/comment.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>{{ demand.annotation == '' ? 'Sem comentários' : demand.annotation }}</span>
                            </span>
                        </ul>
                        <button type="button" pButton pRipple class="w-full mt-3 "
                                disabled="{{demand.offers.length<=0}}"
                                label="{{demand.offers.length > 0 ? demand.offers.length + ' propostas' : 'Sem propostas'}}"
                                icon="pi pi-arrow-right" iconPos="right">
                            <img ngSrc="./assets/app/images/icons/Group.svg"
                                 alt="house"
                                 style="color:white"
                                 class="align-self-center" height="19" width="19">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)"
                     [first]="first"
                     [rows]="rows"
                     [totalRecords]="120"
                     [rowsPerPageOptions]="[10, 20, 30]">
        </p-paginator>
    </div>
</div>
