<div>
    <div class="flex justify-content-between mb-4">
        <span class="text-900 text-xl font-bold mb-5 block">Minhas demandas</span>
        <button type="button"
                pButton
                pRipple
                style="height: 15%;"
                label="Nova Demanda"
                icon="pi pi-plus"
                iconPos="left"
                (click)="navigateToCreateDemand()">
        </button>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-10 w-full flex justify-content-evenly">
            <div class="grid formgrid p-fluid w-full">
                <div class="col-12 xl:col-3 lg:col-6 mb-4" *ngFor="let demand of demands">
                    <div class="card h-full">
                        <div class="flex align-items-center mb-4 justify-content-between">
                            <p class="m-0" style="color: #9E9E9E"
                               title="Data de criação">{{ demandService.getformatData(demand.creationDate) }}</p>
                            <div class="flex flex-row">
                                <img (click)="modalExcluir(modaldelete)" ngSrc="./assets/app/images/icons/delete.png"
                                     alt="delete"
                                     title="Deletar"
                                     class="align-self-center mr-4 cursor-pointer" height="24" width="24">
                                <img (click)="editModal(modal)" ngSrc="./assets/app/images/icons/edit.png"
                                     alt="edit"
                                     title="Editar"
                                     class="align-self-center cursor-pointer" height="24" width="24">

                            </div>
                        </div>
                        <h5 class="p-2"
                            title="Tipo de contrato">{{ demandService.getContractType(demand.propertyDemand.contractType) }}</h5>
                        <ul class="list-none p-0 m-0">
                            <span class="flex p-2 align-items-center mb-2" title="Tipo de propriedade">
                                <img ngSrc="./assets/app/images/icons/house.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Tipo de imóvel - {{ demandService.getPropertyType(demand.propertyDemand.propertyType) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Localidade">
                                <img ngSrc="./assets/app/images/icons/location_on.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Localidade - {{ demandService.getLocation(demand.propertyDemand.address) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Valor desejado">
                                <img ngSrc="./assets/app/images/icons/monetization_on.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Valor até - {{ demandService.getValue(demand.propertyDemand) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Quantidade de quartos">
                                <img ngSrc="./assets/app/images/icons/hotel.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Quartos - {{ demandService.getBedroomsNumber(demand.propertyDemand.bedroomsNumber) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Mobiliado">
                                <img ngSrc="./assets/app/images/icons/kitchen.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Mobiliado - {{ demandService.getBoolean(demand.propertyDemand.furnished) }}</span>
                            </span>
                            <span class="flex p-2 align-items-center mb-2" title="Permite animais">
                                <img ngSrc="./assets/app/images/icons/pets.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <span>Pet - {{ demandService.getBoolean(demand.propertyDemand.petFriendly) }}</span>
                            </span>
                            <div class="flex surface-overlay border-round w-full overflow-auto mb-2 p-2" title="Comentários">
                                <img ngSrc="./assets/app/images/icons/comment.png"
                                     alt="house"
                                     class="align-self-center mr-2" height="24" width="24">
                                <p class="white-space-normal">Comentarios - {{ demand.annotation == '' ? 'Sem comentários' : demand.annotation }}</p>
                            </div>
                        </ul>
                        <button (click)="allOffersModal(modaloffer)" type="button" pButton pRipple class="w-full mt-3 "
                                [disabled]="demand.offers.length == 0"
                                label="{{demand.offers.length > 0 ? demand.offers.length + ' proposta(s)' : 'Sem propostas'}}"
                                icon="pi pi-arrow-right" iconPos="right">
                            <img ngSrc="./assets/app/images/icons/Group.svg"
                                 alt="house"
                                 style="color:white"
                                 class="align-self-center" height="19" width="19">
                        </button>
                    </div>
                    <app-offer-modal #modaloffer [demand]="demand"></app-offer-modal>
                    <app-update-demand-modal #modal [demandData]="demand"></app-update-demand-modal>
                    <app-delete-demand-modal #modaldelete [demand]="demand"></app-delete-demand-modal>
                </div>
            </div>
        </div>
    </div>
    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)"
                     [first]="first"
                     [rows]="size"
                     [totalRecords]="totalElements">
        </p-paginator>
    </div>
</div>
