<form [formGroup]="registerForm" #formDir="ngForm"
      class="surface-ground h-screen w-screen flex align-items-center justify-content-center">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <img style="width: 100%; height: 100%"
             src="./assets/app/images/auth/logo_habitasse_fundo_branco.png" alt="logo-habitasse"
             class="mb-4 align-self-center">
        <div class="flex align-items-center flex-column">
            <p class="text-color-secondary mb-4">Cadastre-se para ter acesso aos serviços.</p>
        </div>

        <div class="mb-4">
            <div class="p-input-icon-left w-full">
                <i class="pi pi-user"></i>
                <input type="text" pInputText placeholder="Nome Completo" class="w-full" formControlName="name"
                       required>
            </div>
            <app-form-field-error
                [form-control]="name">
            </app-form-field-error>
        </div>

        <div class="mb-4">
            <div class="p-input-icon-left w-full">
                <i class="pi pi-user"></i>
                <input type="text" pInputText placeholder="Username" formControlName="username" class="w-full" required>
            </div>
            <app-form-field-error
                [form-control]="username">
            </app-form-field-error>
        </div>

        <div class="mb-4">
            <div class="p-input-icon-left w-full">
                <i class="pi pi-envelope"></i>
                <input type="text" pInputText placeholder="Email" formControlName="email" class="w-full" required>
            </div>
            <app-form-field-error
                [form-control]="email">
            </app-form-field-error>
        </div>

        <div class="mb-4">
            <div class="p-input-icon-left w-full">
                <i class="pi pi-key"></i>
                <input type="password" pInputText
                       placeholder="Password" id="password" name="password"
                       formControlName="password" class="w-full" required>
            </div>
            <app-form-field-error
                [form-control]="password">
            </app-form-field-error>
        </div>

        <div class="mb-4">
            <div class="p-input-icon-left w-full">
                <i class="pi pi-calendar"></i>
                <p-calendar pInputText
                            id="birthday"
                            name="birthday"
                            type="date"
                            class="flex pt-0 pb-0 pr-0"
                            dateFormat="dd/mm/yy"
                            [style]="{'width': '100%', 'border-radius': '6px'}"
                            [showIcon]="true"
                            [touchUI]="true"
                            inputId="icon"
                            formControlName="birthday"
                            dataType="string"
                            [readonlyInput]="true"
                            [maxDate]="maxDate">
                </p-calendar>
            </div>

        </div>

        <p-button type="submit"
                  (click)="submit()"
                  [disabled]="registerForm.invalid"
                  label="Cadastrar"
                  [loading]="loading"
                  (onClick)="load()"
                  [style]="{'width': '100%'}"
                  class="mb-4 w-full max-w-full">
        </p-button>

        <span class="text-color-secondary text-center mb-4">Já possui conta?
            <a class="text-primary text-center mb-4" routerLink="/auth/login"><strong>Login</strong></a>
        </span>
    </div>
</form>
